sender/src/main/resources/xsd/traffic/miv-verkeersdata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2017 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0.0">
  <xs:element name="miv">
    <xs:complexType>
      <xs:annotation>
          <xs:documentation xml:lang="nl">Meten-in-Vlaanderen (MIV)  minuutwaarden verkeersmetingen.
           - http://opendata.vlaanderen.be/dataset/minuutwaarden-verkeersmetingen-vlaanderen
           - Deze gegevens zijn afkomstig van dubbele meetlussen, hoofdzakelijk op snelwegen in het Vlaams gewest.
           - Verantwoordelijken voor deze gegevens zijn het Agentschap Wegen en Verkeer (AWV, http://www.wegenenverkeer.be)
             en het Vlaams Verkeerscentrum (VVC, http://www.verkeerscentrum.be). 
           - De meetgegevens zijn o.a. aantallen voertuigen en gemiddelde snelheden, opgedeeld in 5 voertuigklassen, per minuut geaggregeerd.
           - De gegevens worden elke minuut geüpdatet. 
           - De configuratiegegevens (locatie, ...) van de meetpunten zijn beschikbaar via http://miv.opendata.belfla.be/miv/configuratie/xml
           - De meetgegevens zijn beschikbaar via http://miv.opendata.belfla.be/miv/verkeersdata
           - De gedocumenteerde xsd-schema's bevatten uitleg over de velden en zijn beschikbaar via:
             http://miv.opendata.belfla.be/miv-config.xsd
             http://miv.opendata.belfla.be/miv-verkeersdata.xsd
           - DatexII versie van deze gegevens is gepland later in 2017.
           - Feedback en suggesties voor verbetering: peter.lewyllie@mow.vlaanderen.be, met vermelding van referentie OPENDATA.MIV
           - Beschikbaarheid en aansprakelijkheid: zie art. 8 van de licentie.
             Onbeschikbaarheid van de dataset kan gemeld worden aan vtc.meldingen@vlaanderen.be met vermelding van referentie OPENDATA.MIV
           - Licentie: Modellicentie Gratis Hergebruik - v1.0
        </xs:documentation>
        <xs:documentation xml:lang="en">Meten-in-Vlaanderen (MIV) Loop-based traffic data (1-minute data).
         - http://opendata.vlaanderen.be/dataset/minuutwaarden-verkeersmetingen-vlaanderen
         - The data is provided by the inductive detection loops, mainly on highways in Flanders.
         - The data controllers are Agentschap Wegen en Verkeer (Roads and Traffic Agency, http://www.wegenenverkeer.be)
           and Vlaams Verkeerscentrum (the Flemish Traffic Centre, http://www.verkeerscentrum.be).
         - The traffic data contained are p.e. the number of vehicles and the average speeds, divided in 5 vehicle classes, aggregated per minute. 
         - The data is updated every minute.
         - The configuration data (location, ...) of the measurement points is available at http://miv.opendata.belfla.be/miv/configuratie/xml
         - The traffic data is available at http://miv.opendata.belfla.be/miv/verkeersdata
         - The xsd-schemes document all data fields and are available at:
           http://miv.opendata.belfla.be/miv-config.xsd
           http://miv.opendata.belfla.be/miv-verkeersdata.xsd
          - DatexII version of this data is planned to follow later in 2017.
          - Feedback and suggestions for improvement: peter.lewyllie@mow.vlaanderen.be, reference: OPENDATA.MIV
          - Availability and liability: see art. 8 of the license.
            Unavailability of this dataset can be notified to vtc.meldingen@vlaanderen.be (Dutch only), reference: OPENDATA.MIV
	       - License: Modellicentie Gratis Hergebruik - v1.0
        </xs:documentation>
      </xs:annotation>
                     
      <xs:sequence>
        <xs:element name="tijd_publicatie" minOccurs="1" maxOccurs="1" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation xml:lang="nl">Datum en tijd waarop de XML werd gegenereerd/gepubliceerd.
            http://miv.opendata.belfla.be/miv/verkeersdata
            </xs:documentation>
            <xs:documentation xml:lang="en">Date and time when the XML was generated/published.
            http://miv.opendata.belfla.be/miv/verkeersdata
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="tijd_laatste_config_wijziging" minOccurs="0" maxOccurs="1" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation xml:lang="nl">Datum en tijd waarop het overeenkomstige configuratiebestand van de meetpunten laatst werd aangepast.
            http://miv.opendata.belfla.be/miv/configuratie/xml
            </xs:documentation>
            <xs:documentation xml:lang="en">Date and time of the last change of the configuration file.
            http://miv.opendata.belfla.be/miv/configuratie/xml
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="meetpunt" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation xml:lang="nl">De gegevens worden per meetpunt doorgegeven onder het element "meetpunt".</xs:documentation>
            <xs:documentation xml:lang="en">Data per measurement point under the element "meetpunt".</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lve_nr" type="xs:integer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation xml:lang="nl">Nummer van de LVE (Lokale VerwerkingsEenheid).
                      Een LVE verwerkt de gegevens van een groep meetpunten.
                      (Dit is een intern gebruikt nummer. Deze gegevens kunnen in de toekomst weggelaten worden.)
                  </xs:documentation>
                  <xs:documentation xml:lang="en">Number of the LVE (Local Processing Unit).
                  The LVE processes the data of a group of measurement points
                  (This number is used internally. This data can be omitted in the future.)
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="tijd_waarneming" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime">
                    <xs:annotation>
                      <xs:documentation xml:lang="nl">Datum en tijd van het begin van de minuut waarop de gegevens betrekking hebben in UTC+1 (wintertijd).
                      Indien de datum meerdere jaren in het verleden ligt, kan dit ook wijzen op herstarte meetapparatuur waarbij de tijd nog niet werd gesynchroniseerd.
                      In dergelijk geval zullen de gegevens wel elke minuut wijzigen en kan aangenomen worden dat de minuut-geaggregeerde gegevens live doorgegeven worden. 
                      bv. 13:00:00 is voor de minuut tussen 13:00:00 en 13:00:59
                      </xs:documentation>
                        <xs:documentation xml:lang="en">"Obervation time".
                      Starting date and time of the minute to which the data correspond, UTC+1.
                      If the date is several years in the past, this can point to a restarted measurement device which hasn't synchronised its time yet.
                      In that case, if the data still changes every  minute, it can be assumed that the data is live and current. 
                      pe. 13:00:00 contains the minute between 13:00:00 and 13:00:59
                      </xs:documentation>
                    </xs:annotation>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="tijd_laatst_gewijzigd" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:dateTime">
                    <xs:annotation>
                      <xs:documentation xml:lang="nl">Datum en tijd van de laatste update van gegevens voor dit meetpunt.</xs:documentation>
                      <xs:documentation xml:lang="en">Date and time of the last update of data for this measurement point.</xs:documentation>
                    </xs:annotation>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="actueel_publicatie" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="nl">
                    0 = De gegevens van dit verwerkt meetpunt heeft een tijd_waarneming ouder dan ongeveer 3 minuten
                    1 = Dit verwerkt meetpunt heeft een tijd_waarneming jonger dan ongeveer 3 minuten.
                          Dit kan wijzen op een connectieprobleem waardoor het meetpunt onbereikbaar of offline is.
                  </xs:documentation>
                  <xs:documentation xml:lang="en">
                    0 = Data of this point has a tijd_waarneming older than about 3 minutes ago
                    1 = Data of this point has a tijd_waarneming more recent than about 3 minutes ago. This might signify connection problems.
                          The measurement point may be offline.
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="beschikbaar" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="nl">
                   Beschikbaarheid van het meetpunt:
                   0 = Dit verwerkt meetpunt is voor het ogenblik onbeschikbaar
                   1 = Dit verwerkt meetpunt is voor het ogenblik beschikbaar
                  </xs:documentation>
                  <xs:documentation xml:lang="en">
                   Availabilty of the measurement point:
                   0 = The measurement point is currently unavailable
                   1 = The measurement point is currently available
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="defect" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="nl">
                   Defectstatus van het meetpunt:
                    0 = geen defect
                    1 = 1 lus van een dubbele lus is waarschijnlijk defect
                    2 = meer dan 20 procent slechte aantallen: ernstig defect
                  </xs:documentation>
                  <xs:documentation xml:lang="en">
                   Failure-status of the measurement point
                    0 = no failure
                    1 = 1 of both detection loops is probably failing
                    2 = more than 20 percent bad counts: severe failure
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="geldig" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="nl">
                   Regelmatigheid van de gegevens:
                   0 = Regelmatige gegevens
                   1 = Indicatie voor onregelmatige gegevens
                   2 = Indicatie voor extreem onregelmatige gegevens
                   3 = Indicatie voor extreem onregelmatige gegevens wegens defect
                  </xs:documentation>
                  <xs:documentation xml:lang="en">
                   Regularity of the data:
                   0 = Regelur data
                   1 = Indication for irregular data
                   2 = Indication for extermely irregular data
                   3 = Indication for extremely irregular data caused by a failure
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="meetdata" minOccurs="0" maxOccurs="5">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="verkeersintensiteit" type="xs:int" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="nl">n = aantal voertuigen binnen deze voertuigklasse.</xs:documentation>
                        <xs:documentation xml:lang="en">n = vehicle count within vehicle class.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="voertuigsnelheid_rekenkundig" type="xs:int" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="nl">Som (vi) / n = rekenkundig gemiddelde snelheid van de voertuigen binnen deze voertuigklasse
                        (met vi = individuele snelheid van een voertuig binnen deze voertuigklasse)
                        Waarde domein 0 t/m 254 km/h.
                        Waarde bereik 0..200 km/h
                        Resolutie 1.
                        Bijzondere waarden:
                        - 251: Initiële waarde
                        - 254: Berekening niet mogelijk
                        - 252: geen voertuigen binnen deze voertuigklasse gepasseerd.
                        </xs:documentation>
                        <xs:documentation xml:lang="en">Sum (vi) / n = arithmetic average speed of the vehicles in this vehicle class
                        (with vi = individual speed of a vehicle in this vehicle class)
                        Value domaing 0 to 254 km/h.
                        Value range 0..200 km/h
                        Resolution 1.
                        Special values:
                        - 251: Initial value
                        - 254: Calculation not possible
                        - 252: no vehicles were counted in this vehicle class.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="voertuigsnelheid_harmonisch" type="xs:int" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="nl">n / Som (1/vi) = harmonische gemiddelde snelheid van de voertuigen binnen deze voertuigklasse
                         (met vi = individuele snelheid van een voertuig binnen deze voertuigklasse)
                          Bijzondere waarden:
                         - 251: Initiële waarde
                         - 254: Berekening niet mogelijk
                         - 252: geen voertuigen binnen deze voertuigklasse gepasseerd.
                       </xs:documentation>
                        <xs:documentation xml:lang="en">n / Sum (1/vi) = harmonic average speed of the vehicles in this vehicle class
                         (with vi = individual speed of a vehicle in this vehicle class)
                        Special values:
                        - 251: Initial value
                        - 254: Calculation not possible
                        - 252: no vehicles were counted in this vehicle class.
                       </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="klasse_id" use="required">
                    <xs:annotation>
                     <xs:documentation xml:lang="nl">
                       Voertuigklasse 1 = Deze voertuigklasse was voorzien voertuigen met geschatte lengte tussen 0m en 1,00m.
                                                      vb. moto's. De sporadische metingen in deze voertuigklasse zijn weinig tot niet betrouwbaar.
                                                      Deze gegevens worden door AWV en het verkeerscentrum niet meer gebruikt.
                       
                        Voertuigklasse 2 = Personenwagens = voertuigen met geschatte lengte tussen 1,00m en 4,90m
                        
                        Voertuigklasse 3 = Bestelwagens = voertuigen met geschatte lengte tussen 4,90m en 6,90m
                        
                        Voertuigklasse 4 = Ongelede vrachtwagens = voertuigen metvgeschatte lengte tussen 6,90m en 12,00m
                                                       bv.:Vrachtwagen of trekker
                        
                        Voertuigklasse 5 = Gelede vrachtwagens of bussen= voertuigen met geschatte lengte langer dan 12,00m
                                                       bv.: vrachtwagen+aanhangwagen, trekker+aanhangwagen of bus
                     </xs:documentation>
                     <xs:documentation xml:lang="en">
                       Vehicle class 1 = This vehcile class was used for vehicles with estimated lenght between 0m and 1,00m.
                                                      pe. motorbikes. The occasional measurements in thsi vehicle class are unreliable.
                                                      This data is unused by AWV and the Traffic Center.
                       
                        Vehicle class 2 = Cars = vehicles with an estimated length between 1,00m and 4,90m
                        
                        Vehicle class 3 = Vans = vehicles with an estimated length between 4,90m and 6,90m
                        
                        Vehicle class 4 = Rigid lorries = vehicles with an estimated length between 6,90m and 12,00m
                                                       bv.:Lorry, or tractor
                        
                        Vehicle class 5 = (Semi-)Trailers or busses= vehicles with an estimated length longer than 12,00m
                                                       bv.: lorry with trailer, tractor with semi-trailer, or bus
                     </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="3"/>
                        <xs:enumeration value="4"/>
                        <xs:enumeration value="5"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="rekendata" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="bezettingsgraad" type="xs:int" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="nl">Bezettingsgraad = Puntbedekkingstijd (in 10ms) / 60s (in sec)
                        Puntbedekkingstijd: De tijdsduur waarin, gedurende een beschouwingsperiode, een fictief punt van een detector door voertuigen bedekt is geweest.
                        De puntbedekkingstijd is uitgedrukt in eenheden van 10 milliseconden
                        </xs:documentation>
                        <xs:documentation xml:lang="en">Occupancy = Pointcoverage (in 10ms) / 60s (in sec)
                        Pointcoverage: Time during which a fictional point of the detector was covered by a vehicle.
                        The pointcoverage is expressed in units of 10 milliseconds
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="beschikbaarheidsgraad" type="xs:int" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="nl">beschikbaarheidsgraad = ((60s - onbetrouwbaarheidsduur) / 60s) * 100
                        Onbetrouwbaarheidsduur = de tijdsduur waarin, gedurende een beschouwingsperiode, een detector niet in staat is geweest
                        om op betrouwbare wijze voertuigpassages waar te nemen.
                        </xs:documentation>
                        <xs:documentation xml:lang="en">degree of availability = ((60s - unavailability) / 60s) * 100
                        Unavailability = Time during which a detector was unable to reliably detect passing vehicles.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="onrustigheid" type="xs:int" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation xml:lang="nl">Som (vi²) / N - ( som (vi) / N )²
                        (voertuigen uit alle klasses inbegrepen)
                        (vi) = snelheid voertuig i
                        N = totaal aantal voertuigen
                        </xs:documentation>
                        <xs:documentation xml:lang="en">Sum (vi²) / N - ( sum (vi) / N )²
                        (including all vehicles from all classes)
                        (vi) = speed of vehicle i
                        N = total vehicle count
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="unieke_id" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="nl">Uniek nummer voor de identificatie van het meetpunt.
                    Verdere gegevens (locatie, etc.) over het meetpunt zijn te vinden in de configuratie.
                    http://miv.opendata.belfla.be/miv/configuratie/xml
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Unique identification number of the measurement point.
                    More data (location, etc.) about the measurement point are found in the configuration:
                    http://miv.opendata.belfla.be/miv/configuratie/xml
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="beschrijvende_id" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="nl">Beschrijvende id. (Dit is een intern gebruikte id. Deze gegevens kunnen in de toekomst weggelaten worden.)</xs:documentation>
                    <xs:documentation xml:lang="en">Descriptive id. (Internally used id. May be omitted in the future.)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="schemaVersion" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
