src/main/resources/xsd/config/miv-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2017 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0.0">

  <xs:element name="mivconfig" type="T_mivconfig">
      <xs:annotation>
                <xs:documentation xml:lang="nl">Meten-in-Vlaanderen (MIV) configuratie gegevens
                 - http://opendata.vlaanderen.be/dataset/minuutwaarden-verkeersmetingen-vlaanderen
                 - Deze gegevens zijn de locaties van de dubbele meetlussen, hoofdzakelijk op snelwegen in het Vlaams gewest.
                 - Verantwoordelijken voor deze gegevens zijn het Agentschap Wegen en Verkeer (AWV, http://www.wegenenverkeer.be)
                   en het Vlaams Verkeerscentrum (VVC, http://www.verkeerscentrum.be).
                   - Licentie: Modellicentie Gratis Hergebruik - v1.0
                </xs:documentation>
               <xs:documentation xml:lang="en">Meten-in-Vlaanderen (MIV) configuration data
                 - http://opendata.vlaanderen.be/dataset/minuutwaarden-verkeersmetingen-vlaanderen
                 - The data contains the locations of the inductive detection loops, mainly on highways in Flanders.
                 - The data controllers are Agentschap Wegen en Verkeer (Roads and Traffic Agency, http://www.wegenenverkeer.be)
                   and Vlaams Verkeerscentrum (the Flemish Traffic Centre, http://www.verkeerscentrum.be).
                 - License: Modellicentie Gratis Hergebruik - v1.0
                </xs:documentation>
            </xs:annotation>
     </xs:element>

  <xs:element name="tijd_laatste_config_wijziging" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Datum en tijd waarop het configuratiebestand van de meetpunten laatst werd aangepast.
      http://miv.opendata.belfla.be/miv/configuratie/xml
      </xs:documentation>
      <xs:documentation xml:lang="en">Date and time of the last change of the configuration file.
      http://miv.opendata.belfla.be/miv/configuratie/xml
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="lve_nr" type="xs:integer">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Nummer van de LVE (Lokale VerwerkingsEenheid).
      Een LVE verwerkt de gegevens van een groep meetpunten.
      (Dit is een intern gebruikt nummer. Deze gegevens kunnen in de toekomst weggelaten worden.)
      </xs:documentation>
      <xs:documentation xml:lang="en">Number of the LVE (Local Processing Unit).
      The LVE processes the data of a group of measurement points
      (This number is used internally. This data can be omitted in the future.)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Kmp_Rsys" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Referentiepunt gebruikt in de systemen van het Vlaams Verkeerscentrum</xs:documentation>
      <xs:documentation xml:lang="en">Referencepoint used in the systems of the Traffic Center.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="meetpunt" type="T_meetpunt">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Gegevens over het meetpunt.</xs:documentation>
      <xs:documentation xml:lang="en">Data about the measurement point.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Rijstrook" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Referentie naar de rijstrook van het meetpunt.
      De letter duidt het type van de rijstrook aan.
        R: rijstrook
        B: Bijzonder Overrijdbare Bedding (BOB) of busbaan
        TR: meting van het verkeer in tegengestelde richting (meestal bij Tunnels) op de R-rijstrook
        P: Pechstrook
        W: parking of andere weg
        S: spitsstrook
        A: meetpunt op een gearceerd gedeelte van de weg

      De nummering start bij R10 voor de eerste reguliere rijstrook op de hoofdrijbaan. De nummering stijgt van rechts/trager naar links/sneller.
      Rijstroken met 09, 08, 07, ... liggen hier dan rechts van en stellen meestal op- en afritten, invoegstroken, net bijgekomen rijstroken, spitsstroken of BOB's voor.
      Rijstroken 11, 12, 13, ... liggen dan links van de rijstrook R10.
      Het nummer 00 wordt gebruikt voor een meetpunt op de pechstrook (P00).
      De TR-rijstrook is identiek aan de overeenkomstige R-rijstrook (TR10=R10,TR11=R11,TR12=R12,...), alleen geeft het meetpunt enkel de minuutdata van het "spookverkeer" door.
      (De meetgegevens voor TR10 zijn afkomstig van dezelfde meetlussen als deze voor R10.)
      </xs:documentation>
      <xs:documentation xml:lang="en">Reference to the lane of the measurement point.
      The character indicates the lane type.
        R: Regular lane
        B: Bus lane or similar
        TR: measurement of the traffic in the opposite direction (p.e. in or near tunnels) on the corresponding R-lane.
        P: Hard shoulder lane
        W: parking or other road
        S: Lane for hard shoulder running
        A: Hatched area

      Counting starts at R10 for the first regular lane of the main road. Lane numbers increase from right/slower to left/faster lanes.
      Lanes 09, 08, 07, ... are positioned right of this first lane, and mainly indicate access/merging lanes, deceleration lanes, recently added lanes, lanes for hard shoulder running, bus lanes
      Lanes 11, 12, 13, ... are positioned left of lane R10.
      The lane number 00 is used for measurement points on the hard shoulder (P00).
      The TR-lane is identical to the corresponding R-lane (TR10=R10,TR11=R11,TR12=R12,...), but returns the data of the "ghost traffic" instead.
      (The data for TR10 and R10 are provided by the same detection loops.)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="X_coord_EPSG_31370" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="nl">X-coordinaat volgens Belge 1972 / Belgian Lambert 72 (EPSG:31370)
      De plaatsbepaling van de meetpunten is in veel gevallen een ruwe benadering, en kan afwijken van de werkelijke locatie.
      </xs:documentation>
      <xs:documentation xml:lang="en">X-coordinate according to Belge 1972 / Belgian Lambert 72 (EPSG:31370)
      The location of the measurement points is an approximation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Y_coord_EPSG_31370" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Y-coordinaat volgens Belge 1972 / Belgian Lambert 72 (EPSG:31370)
      De plaatsbepaling van de meetpunten is in veel gevallen een ruwe benadering, en kan afwijken van de werkelijke locatie.
      </xs:documentation>
      <xs:documentation xml:lang="en">Y-coordinate according to Belge 1972 / Belgian Lambert 72 (EPSG:31370)
      The location of the measurement points is an approximation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="lengtegraad_EPSG_4326" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Decimale lengtegraad volgens WGS84-projectie (EPSG:4326)
      De plaatsbepaling van de meetpunten is in veel gevallen een ruwe benadering, en kan afwijken van de werkelijke locatie.
      </xs:documentation>
      <xs:documentation xml:lang="en">Decimal longitude according to WGS84-projection (EPSG:4326)
      The location of the measurement points is an approximation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="breedtegraad_EPSG_4326" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Decimale breedtegraad volgens WGS84-projectie (EPSG:4326)
      De plaatsbepaling van de meetpunten is in veel gevallen een ruwe benadering, en kan afwijken van de werkelijke locatie.
      </xs:documentation>
      <xs:documentation xml:lang="en">Decimale latitude according to WGS84-projection (EPSG:4326)
      The location of the measurement points is an approximation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Ident_8" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Unieke nummer van de autoweg of snelweg van AWV.
        Meer info in de dataset met genummerde wegen als deel van het "Wegenregister", veld locatieide,
        http://opendata.vlaanderen.be/dataset/wegenregister-15-09-2016
        Of de dataset "De beheersegmenten van de genummerde wegen" van AWV, veld ident8,
        http://www.geopunt.be/catalogus/datasetfolder/12b65bc0-8c71-447a-8285-3334ca1769d8
      </xs:documentation>
      <xs:documentation xml:lang="en">Unique road number.
        More info in the dataset of numbered roads in the "Wegenregister" (Roads registry), field: locatieide,
        http://opendata.vlaanderen.be/dataset/wegenregister-15-09-2016
        Or the dataset "De beheersegmenten van de genummerde wegen" by AWV, field ident8,
        http://www.geopunt.be/catalogus/datasetfolder/12b65bc0-8c71-447a-8285-3334ca1769d8
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="volledige_naam" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Ruwe tekstuele omschrijving van de locatie. (Dit is een intern gebruikte omschrijving. Deze gegevens kunnen in de toekomst weggelaten worden.)
      </xs:documentation>
      <xs:documentation xml:lang="en">Rough textual description of the location. (An internally used description. May be omitted in the future.)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="beschrijvende_id" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="nl">Beschrijvende id. (Dit is een intern gebruikte id. Deze gegevens kunnen in de toekomst weggelaten worden.)</xs:documentation>
      <xs:documentation xml:lang="en">Descriptive id. (Internally used id. May be omitted in the future.)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="T_meetpunt">
    <xs:sequence>
      <xs:element ref="beschrijvende_id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="volledige_naam" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="Ident_8" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="lve_nr" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="Kmp_Rsys" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="Rijstrook" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="X_coord_EPSG_31370" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="Y_coord_EPSG_31370" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="lengtegraad_EPSG_4326" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="breedtegraad_EPSG_4326" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="unieke_id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="nl">Uniek nummer voor de identificatie van het meetpunt.</xs:documentation>
        <xs:documentation xml:lang="en">Unique identification number of the measurement point.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="T_mivconfig">
    <xs:sequence>
      <xs:element ref="tijd_laatste_config_wijziging" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="meetpunt" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>
